.hero{
    margin-bottom: 155px;
}


.hero__content{
    // height: 450px;
    background-image:url(../../img/Bitmap.jpg);
    background-size: 1280px 450px;
    border-radius: 10px;
    background-repeat: no-repeat;
    padding-top: 134px;
    padding-bottom: 134px;
    padding-left: 85px;
    }
        
    .hero__box{
    width: 493px;
    }
    
    
    .hero__span{
      width: 445px;
    }
            
    .hero__title{
    color: #FEFCF7;
    width: 493px;
    height: 72px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 32px;
    }
     
    .hero__text{
    color: #FEFCF7;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 56px;
    }
    
    
    .hero__button{
    color: #FEFCF7;
    text-decoration: none;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;}